@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #cfcfc9;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to right, #95c4e6, #ffffff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 75px;
    width: auto;
    transition: all 0.3;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.header .nav-links a{
    font-size: 700;
    color: rgb(29, 242, 50);
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: rgb(0, 0, 0);
}

.header .btn button{
    font-weight: 700;
    color:rgb(255, 255, 255);
    padding: 9px 25px;
    background: rgb(52, 114, 206);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(225, 218, 219);  
    transform: scale(1.1);
}

/* Home Page */

video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* /seccion mapa / */

.map-container {
    position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #ccc; /* Color de fondo mientras carga */
}
.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* SECTION BANNER  */

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #e8f6ea;
    background-color: rgb(52, 114, 206);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/imgs/BannerTT.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center; 
}

#banner h4{
    color: #132516;
    font-size: 20px;
}

#banner h2{
    color: #e8f6ea;
    font-size: 40px;
    padding: 10px 0;
}

#banner h2 span{
    color: #000000;
}

#banner button:hover{
    background: #26e43c;
    color: #fff;
}







