<div class="tab-pane fade" id="caracteristicas">
    <h4>Características del Suelo</h4>
    <!-- Aquí van los campos de características -->

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="topografia">Topografía:</label>
            <select class="form-control" name="topography" id="topografia">
                <option value="plano">Plano</option>
                <option value="pendiente_suave">Pendiente moderada</option>
                <option value="pendiente_fuerte">Pendiente Fuerte</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="profundidad_suelo">Profundidad (cm):</label>
            <input type="number" class="form-control" name="soil_depth" id="profundidad_suelo">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="drenaje">Drenaje:</label>
            <select class="form-control" name="drainage" id="drenaje">
                <option value="very_poor">Muy pobremente drenado</option>
                <option value="poor">Pobremente drenado</option>
                <option value="moderate">Moderadamente drenado</option>
                <option value="well">Bien drenado</option>
            </select>
        </div>
    </div>
</div>
