<div class="tab-pane fade" id="muestreo">
    <h4>Muestreo de Suelos</h4>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nombre_estudio">Nombre del estudio (ID):</label>
            <input type="text" class="form-control" name="name" id="nombre_estudio">
        </div>
        <div class="form-group form-group-vertical col-md-6">
            <label for="telefono">Teléfono:</label>
            <input id="telefono" class="form-control" name="phone" type="tel" placeholder="Ingrese su número de teléfono" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="area">Área:</label>
            <input type="number" class="form-control" name="area" id="area">
        </div>
        <div class="form-group col-md-6">
            <label for="uso_suelo">Uso del Suelo:</label>
            <input type="text" class="form-control" name="soil_use" id="uso_suelo">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="fecha_muestreo">Fecha de Muestreo:</label>
            <input type="date" class="form-control" name="date_of_study" id="fecha_muestreo">
        </div>
        <div class="form-group col-md-6">
            <label for="fecha_recepcion">Fecha de Recepción:</label>
            <input type="date" class="form-control" name="reception_date" id="fecha_recepcion">
        </div>
    </div>
</div>
