
<div class="tab-pane fade show active" id="identificacion">
    <h4>Ficha de Identificación de Muestras</h4>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id_fecha">Fecha:</label>
            <input type="date" class="form-control" name="date_of_study" id="id_fecha" required>
        </div>
        <div class="form-group col-md-6">
            <label for="id_departamento">Departamento:</label>
            <input type="text" class="form-control" name="region" id="id_departamento" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id_municipio">Municipio:</label>
            <input type="text" class="form-control" name="municipio" id="id_municipio" required>
        </div>
        <div class="form-group col-md-6">
            <label for="id_finca">Finca:</label>
            <input type="text" class="form-control" name="farm_name" id="id_finca" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id_responsable">Responsable:</label>
            <input type="text" class="form-control" name="responsable" id="id_responsable" required>
        </div>
        <div class="form-group col-md-6">
            <label for="id_lote">Número de Lote (Potrero):</label>
            <input type="text" class="form-control" name="lot_number" id="id_lote">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id_establecimiento">Establecimiento:</label>
            <input type="text" class="form-control" name="establishment" id="id_establecimiento">
        </div>
        <div class="form-group col-md-6">
            <label for="id_superficie">Superficie:</label>
            <input type="number" class="form-control" name="area" id="id_superficie" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id_num_submuestras">Número de Submuestras:</label>
            <input type="number" class="form-control" name="number_of_subsamples" id="id_num_submuestras" required>
        </div>
        <div class="form-group col-md-6">
            <label for="id_profun_muestreo">Profundidad de Muestreo (cm):</label>
            <input type="number" class="form-control" name="soil_depth" id="id_profun_muestreo" required>
        </div>
    </div>
</div>
