ç<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'assets/css/argon.css' %}">

    <title>{% block title %}AgroMaps Dashboard{% endblock %}</title>
</head>
<body>
    <!-- Include the sidebar -->
    {% include 'includes/sidenavbar.html' %}

    <!-- Main Content -->
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'assets/js/argon.js' %}"></script>

</body>
</html>
