<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'assets/css/map.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/argon.css' %}">
    
	<title>Mapa de suelos</title>

</head>


<body>

	{% include 'includes/sidenavbar.html' %}

	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
		
			<form action="#">
			
                <div class="form-input">
                    <input type="text" id="search-input" placeholder="Buscar ciudad..." onfocus="showDropdown()" onblur="hideDropdown()">
                    <div id="dropdown" class="dropdown" style="display: none;">
                        <div class="dropdown-item" onclick="selectCity('Managua')">Managua</div>
                        <div class="dropdown-item" onclick="selectCity('Masaya')">Masaya</div>
                        <div class="dropdown-item" onclick="selectCity('León')">León</div>
                        <div class="dropdown-item" onclick="selectCity('Granada')">Granada</div>
                        <div class="dropdown-item" onclick="selectCity('Estelí')">Estelí</div>
                    </div>
                    <button type="submit" class="search-btn1"><i class='bx bx-search'></i></button>
                </div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 3c-4.963 0-9 4.037-9 9v.001l5-4v3h7v2H8v3l-5-4C3.001 16.964 7.037 21 12 21s9-4.037 9-9s-4.037-9-9-9z" fill="#6bff90" />
                </svg>

			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Mapa de fertilidad de suelos</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Mapa de suelos</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a>
			</div>


            <!-- Tarjeta desplazable con información -->
            <div class="scrollable-card">
                <div class="card-header">
                    
                    <button id = "abriranalisisBoton" onclick="redirigirConID()"> Abrir Analisis</button>

                </div>
                <div class="card-body">
                    <h3 id="spaceholder">Selecciona un Estudio.</h3>
                    <div id="hudinterior"></div>
                </div>
            </div>

            <div id="mapid">
                {{ mapa|safe }}
            </div>

		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

    <script>
        
        const allSideMenu = document.querySelectorAll('#sidebar .side-menu.top li a');

        allSideMenu.forEach(item=> {
            const li = item.parentElement;

            item.addEventListener('click', function () {
                allSideMenu.forEach(i=> {
                    i.parentElement.classList.remove('active');
                })
                li.classList.add('active');
            })
        });

        // TOGGLE SIDEBAR
        const menuBar = document.querySelector('#content nav .bx.bx-menu');
        const sidebar = document.getElementById('sidebar');

        menuBar.addEventListener('click', function () {
            sidebar.classList.toggle('hide');
        })


        const searchButton = document.querySelector('#content nav form .form-input button');
        const searchButtonIcon = document.querySelector('#content nav form .form-input button .bx');
        const searchForm = document.querySelector('#content nav form');

        searchButton.addEventListener('click', function (e) {
            if(window.innerWidth < 576) {
                e.preventDefault();
                searchForm.classList.toggle('show');
                if(searchForm.classList.contains('show')) {
                    searchButtonIcon.classList.replace('bx-search', 'bx-x');
                } else {
                    searchButtonIcon.classList.replace('bx-x', 'bx-search');
                }
            }
        })


        if(window.innerWidth < 768) {
            sidebar.classList.add('hide');
        } else if(window.innerWidth > 576) {
            searchButtonIcon.classList.replace('bx-x', 'bx-search');
            searchForm.classList.remove('show');
        }

        window.addEventListener('resize', function () {
            if(this.innerWidth > 576) {
                searchButtonIcon.classList.replace('bx-x', 'bx-search');
                searchForm.classList.remove('show');
            }
        })

        const switchMode = document.getElementById('switch-mode');

        switchMode.addEventListener('change', function () {
            if(this.checked) {
                document.body.classList.add('dark');
            } else {
                document.body.classList.remove('dark');
            }
        })

        // Seleccionar ciudad

        function showDropdown() {
            document.getElementById('dropdown').style.display = 'block';
        }

        function hideDropdown() {
            setTimeout(() => {
                document.getElementById('dropdown').style.display = 'none';
            }, 100); // Pequeño retraso para permitir que el clic en la opción sea detectado
        }

        function selectCity(city) {
            document.getElementById('search-input').value = city;
            hideDropdown(); // Oculta el dropdown después de seleccionar
        }

        function printinfo(content) {
            document.getElementById('hudinterior').innerHTML = '<h3>Detalles</h3>' + content;
        }

		function redirigirConID() {
            var estudioID = document.getElementById('estudio-id').textContent.trim();
    
            var urlDjango = "{% url 'detalle_estudio' 0 %}".replace('0', estudioID);
    
            window.location.href = urlDjango;
        }


        //  Script para desactivar el boton de mas detalles de estudio 
    
        document.addEventListener("DOMContentLoaded", function () {
            // Obtener el div y el botón
            var div = document.getElementById("hudinterior");
            var button = document.getElementById("abriranalisisBoton");
            var h3 = document.getElementById("spaceholder");

            // Función para verificar el contenido del div y habilitar/deshabilitar el botón
            function checkContent() {
                var divContent = div.innerHTML.trim();
                if (divContent === "") {
                    button.disabled = true;
                } else {
                    button.disabled = false;
                    h3.remove();
                }
            }

            // Crear un observador de mutación para el div
            var observer = new MutationObserver(function (mutations) {
                mutations.forEach(function (mutation) {
                    // Cada vez que se detecte un cambio, verificar el contenido
                    checkContent();
                });
            });

            // Configurar el observador para escuchar cambios en el contenido del div
            observer.observe(div, {
                childList: true, // Detecta cambios en los hijos del div
                subtree: true,   // Incluye los nodos dentro del div
                characterData: true // Detecta cambios en el texto del div
            });

            // Llamar la función inicialmente para verificar el estado inicial
            checkContent();
        });
    </script>

</body>
</html>
